<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DemoEXXX24.Properties.Settings.DemEx24DataSet" connectionString="Data Source=WIN-ME6T76DH64N\ALEX;Initial Catalog=DemEx24;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DemoEXXX24.Properties.Settings.DemEx24DataSet1" connectionString="Data Source=WIN-ME6T76DH64N\ALEX;Initial Catalog=DemEx24;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>